* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  min-width: 1170;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}



/* Шапка сайта*/
.header {
  height: 102px;
}

.header-mobile {
  display: none;
}

.header-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 30px;
}

.logotype {
  width: 30%;
}

.header__logo {
  display: block;
}

.nav {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 5%;
}

.nav__lines {
  height: 30px;
  width: 80px;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.nav_items {
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav_items:hover {
  opacity: 50%;
}

/* Шапка сайта (конец кода)*/


/* Контент*/
.container__content-mb {
  display: none;
}

.img-office {
  display: flex;
  margin-bottom: 3%;
}

.img-of {
  max-width: 100%;
}

.img-table_text {
  display: flex;
  margin-bottom: 3%;
  justify-content: space-between;
}

.img-table {
  display: flex;
  width: 34%;
  align-items: flex-start;
}

.img-tb {
  max-width: 100%;
}

.text {
  display: flex;
  width: 61%;
}

.text_1-mb {
  margin-top: 10px;
}

.plan {
  display: flex;
  margin-bottom: 3%;
}

.img-plan {
  max-width: 100%;
}

/* Стиль общих заголовков*/
.main-heading {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 64px;
}

.main-heading__top {
  color: #BDBDBD;
  font-size: calc((100vw - 320px)/(1920 - 320) * (64 - 16) + 16px);
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
}

.main-heading__bottom {
  color: #333;
  font-size: calc((100vw - 320px)/(1920 - 320) * (64 - 16) + 16px);
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

/* Стиль общих заголовков (конец кода)*/
/* Контент сайта (конец кода)*/

/* Подвал */

footer .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.foo {
  background-color: #2C2C2C;
}

.foo,
.foo__top-list,
a.foo__top-link,
.foo__top-social {
  color: #FFF;
  text-decoration: none;
  list-style-type: none;
}

.foo__top-inner {
  padding-top: 58px;

  display: grid;
  grid-template-columns: 25% 15% 25% 1fr;
}

.foo .foo__logo {
  display: block;
  max-width: 100%;
  height: auto;

}

.foo__top-col,
.foo__top--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.foo__top-tittle {
  margin-bottom: 25px;

  font-weight: 700;
  line-height: normal;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.foo__top-item {
  margin-bottom: 16px;

  font-size: 14px;
  font-weight: 500;
}

.foo__top-contact {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  margin-bottom: 41px;

  font-size: 14px;
  font-weight: 500;
}

.foo__top-link:hover {
  opacity: 0.5;
}

.foo__top-icon {
  /* width: 100%; */
  margin-right: 14px;
}

.foo__top-col--mobile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.foo__wrapper--social {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.foo__top-social {
  margin-right: 40px;
}

.foo__top-social:hover {
  opacity: 0.5;
}

.foo__top-social:last-child {
  margin-right: 0;
}

/* Это мы прячем мобильную версию футера */

.foo__logo--mobile,
.foo__top--mobile {
  display: none;
}


/* Это мы прячем мобильную версию футера (конец кода) */


.foo__botton {
  background: #2C2C2C;
}

.foo__botton {
  background: #2C2C2C;
}

.foo__botton-inner {
  color: #C8C8C8;
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}


/*Версия стилей Для смартфона*/
@media screen and (max-width:768px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
    margin-bottom: 36px;
  }

  .header {
    height: 102px;
  }

  .header-line,
  .container__content {
    display: none;
  }

  .header-mobile {
    /*Это мы объявляем видимость мобильной менюшки!*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }

  .header__logo--mobile {
    display: block;
  }

  .container__content-mb {
    display: flex;
    justify-content: center;
    min-width: 100%;
    flex-direction: column;
    margin-top: 40px;
  }







  /* Стиль общих заголовков*/
  .main-heading-md {
    display: flex;
    flex-direction: column;
    /*margin-top: 64px;
  margin-bottom: 64px;*/
    justify-content: center;
  }

  .sample {
    display: flex;
    justify-content: center;
    font-size: calc(16px + (32 - 16) * (100vw / 320));
    font-weight: lighter;
    color: rgb(128, 128, 128);
  }

  .project1 {
    display: flex;
    justify-content: center;
    font-size: calc(16px + (32 - 16) * (100vw / 320));
    font-weight: bold;
  }

  .main-heading_top-mb,
  .main-heading_bottom-mb {
    text-align: center;
  }

  /* Стиль общих заголовков (конец кода)*/


  .img-office-mb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7%;
  }

  .plan-mb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
  }


  /* Подвал */
  footer .container {
    max-width: 768px;
    padding: 0 25px;
    margin: 0 auto;
  }


  .foo__top-inner {
    padding-top: 30px;

    display: flex;
    flex-direction: column;
  }

  .foo__top-col {
    display: none;
  }

  .foo__top-col--mobile {
    display: flex;
    flex-direction: column;
    align-items: stretch;

  }

  .foo__top-wrapper--mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  .foo__top-social {
    margin-right: 23px;
  }

  .foo__top-social:last-child {
    margin-right: 0;
  }

  .foo__logo--mobile {
    display: flex;
    justify-content: flex-end;

  }

  .foo__logo--pic {
    height: 100%;
  }

  .foo__logo--mobile .foo__logo {
    width: 100%;
    height: 100%;

  }

  .foo__top--mobile {
    display: flex;
    flex-direction: column;

  }

  .foo__top-tittle {
    margin-bottom: 16px;

  }

  .foo_top-contact {
    margin-bottom: 10px;
  }

  .foo_top-link {
    color: #FFF;
    text-decoration: none;
    list-style-type: none;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;

  }

  .foo_top-link:hover {
    opacity: 0.5;
  }

}

@media screen and (max-width:374px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 22px;
  }

  .heading-light {
    color: #BDBDBD;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
  }

  .contacts-container {
    padding: 0 0px;
    margin: 0;
  }

  .button-main {
    width: 150px;
    height: 50px;

    border: none;
    padding: 0;
    font-size: 10px;
    font-style: normal;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .button-left,
  .button-right {
    border: 1px solid #F2F2F2;
    background: #FFF;
    padding: 15px;
    margin-right: 0px;
    cursor: pointer;
  }

  .slider-nav {
    display: flex;
    justify-content: space-between;

  }

  .foo__logo--pic {
    display: none;
  }
}